%rebase("base.tpl",title="ログイン | TOMA")

<article id="wrapper" class="contentwrap">

    
        <form action="/login" method="post" id="login_fm">
            <label class="log_lab">名前</label><input type="text" name="name">
            <label class="log_lab">パスワード</label><input type="password" name="password">
            <input value="ログイン" type="submit"/>
        </form>

</article>
    <script>
        $(function () {
            $('#wrapper').css({
                "overflow": "visible"
            })
        });
    </script>
    <script src="/static/js/footerFixed.js"></script>