@charset "UTF-8";
li{
    list-style: none;
}
a{
    outline: none;
    color: inherit;
    text-decoration: none;
}
h1,h2,h3 {
    margin:0;
}
p {
    margin: 0;
}
html {
    font-size: 10px;
}
body{
    background-color: #f5f5f5;
    position: relative;
}
header{
    width: 100%;
    background-color: #93ae59;
}
#head_wrap {
    width: 100%;
}
@media(min-width: 769px) {
    #head_wrap {
        max-width: 960px;
        margin: 0 auto; 
        display: flex;
        justify-content: space-between;
    }
}
#head_wrap #logo {
    width: 130px;
    margin: 0 auto;
    padding-top: 10px; 
}
@media (min-width: 769px) {
    #head_wrap #logo {
        margin: 0;
    }
}
#head_wrap #logo a {
    width: 130px;
}
#head_wrap #logo a img {
    display: block;
    width: 130px;
}
#head_wrap ul {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: 0 auto;
    padding: 0;
} 
@media (min-width: 769px) {
    #head_wrap ul {
        display: flex;
        justify-content: space-between;
        margin: 30px 0 0 33%;
        width: 40%;
    }
}
#head_wrap ul li{
    color:whitesmoke;
    width: 25%;
}
#head_wrap ul li a {
    display: block;
    text-align: center;
    padding: 5px 0;
    font-size: 12px;
}
 #wrapper {
    overflow: hidden;
    position: relative;
 }
 @media (min-width: 769px) {
    #wrapper {
        display: flex;
    }
}
 #mental {
    background: url(../img/scent.jpg);
    background-size: cover;
    width: 100%;
    position: relative;
 }
 @media (min-width: 769px) {
     #mental {
         transition-duration: 1.8s;
     }
 }
 #bland {
    background: url(../img/lemon-906141.jpg);
    background-size: cover;
    width: 100%;
 }
 @media (min-width: 769px) {
    #bland  {
        transition-duration: 1.8s;
    }
}
 .button-box {
    height: 100%;
    background: rgba(255,255,255,0.4);
    display: flex;
    align-items: center;
 }
 .box {
    background: white;
    width: 200px;
    height: 200px;
    margin: auto;
    box-sizing: border-box;
    padding: 5px;
    cursor: pointer;
 }
 .box h2 {
    color: #404040;    
    font-family: STIXGeneral;
    font-weight: normal;
    font-size: 3.2rem;
    text-align: center;
    margin: 0.4em 0;
    position: relative;
    padding: 1em 1em 0 1em;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    height: 70%;
 }
 .box h2:after, .box h2:before {
    content: '';
    position: absolute;
    top: -10px;
    width: 2px;
    height: -webkit-calc(100% + 20px);
    height: calc(100% + 20px);
    background-color: black;
 }
 .box h2:before {left: 10px;}
.box h2:after {right: 10px;}

 .button-box h2 span {
    font-size: 1.5rem;
 }

 /* #modal
---------------------------------------------- */
#modal_men {
    z-index: 100px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 16px;
    display: none;
}
@media (min-width: 769px) {
    #modal_men {
        max-width: 300px;
        max-height: 300px;
    }
}
#modal_men h3 {
    color: white;
    font-family: STIXGeneral;
    font-size: 24px;
    line-height: 1;
}
#modal_men h3 span {
    font-size: 10px;
    display: inline-block;
    margin-left: 15px;
}
#modal_men form {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}
#modal_men form label {
    margin-top: 20px;
    width: 40%;
    text-align: left;
}
#modal_men form label:nth-child(even) {
    margin-left: 10px;
}
#modal_men form label span {
    color: white;
    font-size: 12px;
    display: inline-block;
    vertical-align: center;
}
#modal_bla {
    z-index: 100px;
    background: rgba(0, 0, 0, 0.8);
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    box-sizing: border-box;
    padding: 16px;
    display: none;
}
@media (min-width: 769px) {
    #modal_bla {
        max-width: 300px;
        max-height: 300px;
    }  
}
#modal_bla h3 {
    color: white;
    font-family: STIXGeneral;
    font-size: 24px;
    line-height: 1;
    margin-bottom: 20px;
}
#modal_bla h3 span {
    font-size: 10px;
    display: inline-block;
    margin-left: 15px;
}
#modal_bla form label {
    margin-bottom: 20px;
    display: block;
    text-align: left;
}
#modal_bla form label span {
    color: white;
    font-size: 12px;
    display: inline-block;
    vertical-align: center;
}
@media (min-width: 769px) {
    #modal_bla form label span {
        font-size: 16px;
    }
}
#modal_men form input[type="submit"],#modal_bla form input[type="submit"] {
    padding: 7px 20px;
    background: #b1647c;
    border-radius: 5px;
    border: none;
    color: white;
    opacity: 0.9;
    position: absolute;
    right: 10px;
}
#modal_men form input[type="submit"] {
    bottom: -40px;
}
@media (min-width: 769px) {
    #modal_men form input[type="submit"] {
        bottom: -100px;
    } 
}
#modal_bla form input[type="submit"] {
    bottom: 30px;
    right: 30px
}
.checkbox01-input{
    display: none;
  }
  .checkbox01-parts{
    padding-left: 15px;
    position:relative;
  }
  .checkbox01-parts::before{
    content: "";
    display: block;
    position: absolute;
    top: 3px;
    left: 0;
    width: 10px;
    height: 10px;
    border: 1px solid white;
    border-radius: 6px;
  }
  .checkbox01-input:checked + .checkbox01-parts{
    color: #e4b6ef;
  }
  .checkbox01-input:checked + .checkbox01-parts::after{
    content: "";
    display: block;
    position: absolute;
    top: -5px;
    left: 5px;
    width: 7px;
    height: 14px;
    transform: rotate(40deg);
    border-bottom: 3px solid #e4b6ef;
    border-right: 3px solid #e4b6ef;
  } 
footer {
    height: 120px;
    background-color: #93ae59;
    width: 100%;
}
footer .copyright {
    color: whitesmoke;
    font-size: 12px;
    padding-top:30px;
    text-align: center;
    letter-spacing: 1px;
}

/* ページタイトル
-------------------------------------- */
.sub_title{
    margin: 20px;
}
.sub_title img{
    width: 100%;
}
@media (min-width: 769px) {
.sub_title{
    max-width: 960px;
    margin: 50px auto 0px;
    }
.sub_title img{
    width: 100%
    }
}
/* lineup.html
-------------------------------------- */
@media (min-width: 769px) {
    .contentwrap{
        max-width: 960px;
        margin: 0 auto;
        }
    #main{
        width: 70%;
    }
}
.lineup{
    background-color: #fff;
    max-width: 100%;
    margin: 10px;
    display: flex;
    box-shadow: 1px 1px 1px rgba(0,0,0,0.1);
}
@media (min-width: 769px) {
    .lineup{
    padding: 20px 0;
    margin: 50px 0;
    }
}
.lineup-img{
    width: 20%;
    max-width: 100px;
    margin: 10px 20px;
}
.lineup-img img{
    width: 100%;
}
@media (min-width: 769px) {
    .lineup-img{
        width: 200px;
        margin: 10px 30px;
    }
    .lineup-img img{
        width: 100%;
        }
}

.lineup-txt{
    padding: 10px 20px 10px 0;
    width: 70%;
}
.lineup-txt h2{
    color: #93ae59;
    text-align: left;
}
@media (min-width: 769px) {
    .lineup-txt h2{
        font-size: 3em;
        
        }
}
.lineup-txt p {
    font-size: 1.2em;
    text-align: left;
}
@media (min-width: 769px) {
    .lineup-txt p {
        font-size: 1.4em
    }
}
.mental-list {
    margin:  20px 10px  20px 0;
    padding: 0;
    display: flex;
    flex-wrap: wrap;
}
.mental-list li{
    color: #bf73bf;
    margin: 0 5px;
    padding: 0 5px;
}
.mental-list li:first-child{
    padding-left: 0;
    margin-left: 0;
}
/* サイドバー (jquery)
----------------------------------------*/
#sidebar {
    position: relative;
}
@media (min-width: 769px) {
    #sidebar {
        margin-top: 50px;
        margin-left:5%; 
        width: 25%;
        background: white;
        align-self: flex-start;
        box-shadow: 1px 1px 1px rgba(0,0,0,0.1); 
    }
}
.overbox {
    position: fixed;
    right: 0;
    width: 80%;
    max-width: 300px;
    /* z-index: 100; */
    padding: 15px;
    height: auto;
    border: none;
    border-radius: 3px;
}
/* #top302 {
    top: 312px;
} */
@media (min-width: 769px) {
    .overbox {
        position: static;
        bottom: 0;
        border-radius: 0;
        padding: 0;
        width: 100%;
    }
}
.active {
    background: rgba(0, 0, 0, 0.8);
    top:150px;
}
.hidden {
    background: transparent;
    bottom: 40px;
}
.title {
    color: white;
    font-family: STIXGeneral;
    font-size: 20px;
    margin-bottom: 20px;
    display: none;
}
@media (min-width: 769px) {
    .title {
        display: block !important;
        background: #93ae59;
        padding: 10px 20px;
    }
}
.bottomover {
    top: 463px;
}
.title span {
    font-size: 10px;
    display: inline-block;
    margin-left: 15px;
}
label.input .checkbox01-parts {
    color: white;
    display: block;
    margin-left: 20px;
    margin-bottom: 15px;
    font-size: 12px;
}
.sideform {
    display: none;
}
@media (min-width: 769px) {
    .sideform {
        display: block !important;
        padding-bottom: 20px;
    }
}
.sideform input[type="submit"] {
    padding: 10px 20px;
    background: rgba(187, 90, 147, 0.8);
    color: white;
    border: none;
    width: 80px;
    margin-left: 170px;
    display: inline-block;
    border: none;
    border-radius: 3px;
}
@media (min-width: 769px) {
    .sideform input[type="submit"] {
        background: rgba(187, 90, 147, 0.6);
    }
}
@media (min-width: 769px) {
    .sideform input[type="submit"] {
        margin-left:140px;
    }
}
@media (min-width: 769px) {
    .sideform label.input .checkbox01-parts {
        color: #1a1a1a;
    }
    .sideform label.input .checkbox01-parts::before {
        border-color: #1a1a1a;
    }
}
 
.material-button {
    display: block;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: rgba(0, 0, 0, 0.4);
    position: fixed;
    right: 30px;
    bottom: 50px;
    z-index: 100;
}
@media (min-width: 769px) {
    .material-button {
        display: none;
    }
}
.shape {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
}
@media (min-width: 769px) {
    .shape {
        display: none;
    }
}
.shape:before {
    width: 20px;
    height: 4px;
}
.shape:after {
    width: 4px;
    height: 20px;
}
.shape:before {
    content: '';
    background: white;
    position: absolute;
    top: 47%;
    left: 31%;
}
.shape:after {
    content: '';
    background: white;
    position: absolute;
    top: 33%;
    left: 48%;
}

/* コンタクト
------------------------------------------------- */
.con_form {
    width: 90%;
    margin: 0 auto 80px;
}
.con_form dt{
    margin:  0px 0 10px 0;
}
.con_form dd{
    margin: 0;
}
.con_form input,
.con_form textarea {
	padding: 10px 0 10px 10px;
    border-radius: 3px;
    width: 100%;
    outline: none;
	border: 1px solid #aaa;
}
.custom input[type="text"]:focus,
.custom textarea:focus {
	box-shadow: 0 0 7px #bf73bf;
    border: 1px solid #bf73bf;
    transition: all 0.3s ease ;
}
.con_form .con_submit{
    background-color: rgba(221,139,187,0.6);
    border: 0;
    font-size: 1.5em;
    color: darkmagenta;
}
@media (min-width: 769px) {
    .con_form{
        margin: 20px auto 80px;
        width: 650px;
    }
    .con_form dt{
        text-align: right;
        width: 80px;
        margin:  10px 5px 10px 0;
        clear: left;
        float: left;
    }
    .con_form dd{
        margin: 0;
    }
    .con_form input,
    .con_form textarea {
        padding: 10px 0 10px 10px;
        border-radius: 3px;
        outline: none;
        width: 200px;
        border: 1px solid #aaa;
    }
    .con_form textarea {
        width: 400px;
    }
    .con_form input[type="text"]:focus {
        width: 300px;
        transition: all 0.5s ease;
    }
}

 /* Howto ここから
  ------------------------------------------------------------------------ */
  @media (min-width: 769px) {
    section {
        text-align: center;
    }
}
.midashi {
    font-size: 30px;
    line-height: 50px;
    padding-top: 80px;
    margin-bottom: 40px;
    font-weight: 200;
    text-align: center;
} 
@media (min-width: 769px) {
    .midashi {
        font-size: 40px;
        line-height: 50px;
        margin-bottom: 80px;
        font-weight: 200;
    }
}
.midashihaikei {
    background: url(../img/essential.jpg);
    background-size:cover; 
    height: 200px;
    width: 100%;
}    
.midashiwrap{
    height: 100%;
    background: rgba(255,255,255,0.6);
}
/* @media (min-width: 769px) {
    .box-port{
        max-width: 1200px;
        margin: 0 auto;
    } 
} */
.box-port p {
    font-size: 15px;
    line-height: 2;
    margin-bottom: 15px ;
}
.subtitle{
    margin-left: 15px;
}
@media (min-width: 769px) {
    #sec3 p {
        font-size: 30px;
        line-height: 2;
        margin-bottom: 15px ;
    } 
}
#sec3 .box-port .portfolio img{
    width: 400px;
    margin: 10px 30px ;
    text-align: left;
    display: flex;
}
@media (min-width: 769px) {
    #sec3 .box-port .portfolio img{
        width: 400px;
        margin: 40px 30px;
        text-align: left;
        display: flex;
    }
}
@media (min-width: 769px) {
    #sec3 .box-port .portfolio{
        display: flex;
    }
    
}
@media (min-width: 769px) {
    .flex_reverse{
        display: flex;
        flex-direction: row-reverse;
    }    
}
#howto_wrap {
    max-width: 960px;
    margin: 0 auto;
}
.buniti{
    margin-top: 20px;
    margin-right: 40px;
    margin-left: 40px;
}

@media (min-width: 769px) {
    .buniti{
        margin-top: 70px;
        margin-right: 90px;
        margin-left: 90px;
    }
}
@media (min-width: 769px) {
    #sec3 .box-port .portfolio p {
        font-size: 14px;
        margin: 5px 0;
    } 
}
/* login
---------------------------------------------- */
#login_fm {
    width: 90%;
    margin: 40px auto 80px;
}
.log_lab {
    font-size: 18px;
}
#login_fm input[type="text"],
#login_fm input[type="password"] {
    display: block;
    margin-bottom: 20px;
    padding: 10px 0 10px 10px;
    border-radius: 3px;
    border: 1px solid #aaa;
    width: 200px;
}
#login_fm input[type="submit"] {
    display: block;
    width: 100px;
    background: #ccc;
    color: white;
    padding: 5px;
    border-radius: 3px;
}
/* add
----------------------------------------------- */

dt,dd {
    display: inline-block;
    font-size: 1.4em;
}
.custom dt {
    margin: 0 20px 0 0 ;
}
.custom input[type="radio"] {
    width: 20px;
}
dd.txtarea {
    vertical-align: top;
}
.top30 {
    margin-top: 30px;
}
.top30 dd input[type="file"] {
    border-radius: 3px;
}

/* 404
-------------------------------------- */
#er404 img {
    display: block;
    margin: 0 auto;
}

/* logout
-------------------------------------- */
#logout {
    margin: 50px auto 0;
    width: 50%;
}
#logout a {
    display: block;
    font-size: 14px;
    border: 1px solid #aaa;
    border-radius: 5px;
    padding: 3px;
    text-align: center;
}

/* ajax likebox
-------------------------------------- */
.likebox {
    display: flex;
    margin: 20px 0;
}
.likebox .mental-list {
    margin: 0 20px 0 0;
}
.likebun_men, .likebun_bla {
    width: 30px;
    margin: 0 20px 0 0;
    display: block;
}
.likebox span {
    display: block;
    border:1px solid #aaa;
    border-radius: 3px;
    padding: 5px 10px;
    align-self: flex-start;
}
.likeform {
    display: flex;
    align-items: baseline;
}